<h2 class="headerLine">Create Project</h2>
<br>
<a [routerLink]="" class="btn btn-secondary btn-sm"  (click)="goBack()"> <i class="fas fa-chevron-left"></i> Back</a> 
<br>
<hr>
<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
  <div class="form-group">
    <label>Project Name</label>
    <input type="text" placeholder="Enter Project Name" #title="ngModel" class="form-control"  name="title" [(ngModel)]="projectService.selectedProject.title"  >
  </div>
  <div class="form-group">
    <label>Github URL</label>
    <input type="url" placeholder="Enter Github URL" #githubURL="ngModel" class="form-control" name="githubURL" [(ngModel)]="projectService.selectedProject.githubURL" aria-describedby="urlHelp" >
    <small id="urlHelp" class="form-text text-muted">https://github.com/angular/angular-cli</small>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" placeholder="Enter Project Description" #description="ngModel"  name="description" [(ngModel)]="projectService.selectedProject.description" class="form-control" >
  </div>

  <br>
  <div class="text-center">
    <button type="submit" class="btn btn-dark btn-lg" style="width:50%">Submit</button>
  </div>
</form>
<br>

<!-- Success message -->
<div class="alert alert-success alert-dismissible fade show" *ngIf="showSucessMessage" role="alert">
    <strong>Saved successfully!</strong> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<!-- Error message -->
<div class="alert alert-danger alert-dismissible fade show" *ngIf="serverErrorMessages" role="alert">
  <strong>Error!</strong> 
  <div [innerHTML]="serverErrorMessages"></div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>