<h2 class="headerLine">Active Projects</h2>


<div class="container-fluid">
    <div class="row">
    
      <div class="col-6 col-md-4 col-lg-3 mb-4" *ngFor="let item of projectList">
        <div class="card mx-auto text-center">
          <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
            <h2 class="card-title"><span class="fa fa-external-link mr-1"></span><a [routerLink]="['/project-profile', item._id]">View</a></h2>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <div class="card-body">
              <h5 class="card-title">New Project?</h5>
            <h2 class="card-title"><span class="fa fa-external-link mr-1"></span><a routerLink="/projectcreate">Create</a></h2>
          </div>
        </div>
      </div>

    </div>
  </div>
  