<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <i class="fa fa-cubes" aria-hidden="true" ></i> ProjectFlow
    </a>
  
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="projects"> Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> FAQ</a>
        </li>
      </ul>

      <div class="nav navbar-nav navbar-right">
          <a href="#" class="nav-link" *ngIf="!isLoggedIn()" (click)="onLogin()"><strong><i class="fas fa-sign-in-alt"></i> Sign In</strong></a>
       </div>
       <div class="nav navbar-nav navbar-right">
          <a href="#" class="nav-link" *ngIf="isLoggedIn()" (click)="onLogout()"><strong><i class="fas fa-sign-out-alt"></i> Sign Out</strong></a>
       </div>

    </div>

    

  </nav>