<h2 class="headerLine">Project Profile</h2>


<div class="row">
  <div class="col-md">

    <div class="card" style="margin-bottom: 10px;">
      <h2>Project Summary</h2>
      <div class="card-body" >
        <div class="text-right">
            <a [routerLink]="['/project-edit', this.pid]" class="text-secondary"><i class="fas fa-cog"></i></a>
        </div>
        <dl class="row">
          <dt class="col-sm-4 text-truncate">Project Name</dt>
          <dd class="col-sm-8">{{title}}</dd>
        
          <dt class="col-sm-4">Description</dt>
          <dd class="col-sm-8">
            <p>{{description}}</p>
          </dd>
        
          <dt class="col-sm-4">Github URL</dt>
          <dd class="col-sm-8">{{githubURL}}</dd>
          
    
        </dl>
        <div *ngIf="error" class="alert alert-danger " role="alert" >
          {{error}}
          <br>
          <div class="text-center">
            <a class="btn btn-dark" href="https://github.com/login/oauth/authorize?client_id=530a31e610d573b4d652&scope=repo" ><i class="fab fa-github"></i> Connect to GitHub</a>
          </div>
        </div>
      </div>
    </div>


    <div class="card" style="margin-bottom: 10px;">
        <h2>Sprint / In-Progress</h2>
        <div class="card-body" *ngFor="let sprint of sprints; let i= index;">
            <hr style="margin-top:-20px"> 
          <h4 class="text-center font-weight-bold">{{sprint.title}}</h4>
          <div class="text-right">
              <a [routerLink]="" (click)="removeSprint(pid, sprint._id)" class="text-secondary"><i class="fas fa-trash"></i></a>
          </div>
          
          <dl class="row">
            <dt class="col-sm-6 text-truncate">Start Date</dt>
            <dd class="col-sm-6">{{sprint.startDate | date: 'dd/MM/yyyy'}}</dd>
            <dt class="col-sm-6 text-truncate">End Date</dt>
            <dd class="col-sm-6">{{sprint.endDate | date: 'dd/MM/yyyy'}}</dd>
            <dt class="col-sm-6 text-truncate" *ngIf="getSprintOpenIssueCount(sprint._id) != null">Open Tasks</dt>
            <dd class="col-sm-6" *ngIf="getSprintOpenIssueCount(sprint._id) != null"><span class="badge badge-danger">{{getSprintOpenIssueCount(sprint._id)}}</span></dd>
            <dt class="col-sm-6 text-truncate" *ngIf="getSprintClosedIssueCount(sprint._id) != null">Closed Tasks</dt>
            <dd class="col-sm-6" *ngIf="getSprintClosedIssueCount(sprint._id) != null"><span class="badge badge-success">{{getSprintClosedIssueCount(sprint._id)}}</span></dd>
          </dl>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" [style.width]="getSprintsClosedIssuePercentageCounts(sprint._id) + '%'" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <dl class="row" style="margin-top: 20px;">
            <dt class="col-sm-6 text-truncate" *ngIf="getSprintsClosedIssuePercentageCounts(sprint._id) != null">Sprint Completion</dt>
            <dd class="col-sm-6" *ngIf="getSprintsClosedIssuePercentageCounts(sprint._id) != null">{{getSprintsClosedIssuePercentageCounts(sprint._id) + '%'}}</dd>
            <dt class="col-sm-12 text-truncate" *ngIf="getSprintsClosedIssuePercentageCounts(sprint._id) == null">No tasks assigned to this sprint yet. Visit <a [routerLink]="['/project-backlog', pid]">Project Backlog</a></dt>
          </dl>
      
          <button type="button" [routerLink]="['/project-sprint', pid, sprint._id]" class="btn btn-success btn-lg btn-block">View {{sprint.title}}</button>
          <br>
        </div>
        <hr>
        <div class="card-body" >
          <button type="button" [routerLink]="['/project-create-sprint', pid]" class="btn btn-dark btn-lg btn-block">Create Sprint</button>
        </div>
      </div>

  </div>

  <div class="col-md">

      <div class="card" style="margin-bottom: 10px;" *ngIf="!error && (totalOpenTaskCount!=0 || totalClosedTaskCount!=0)">
          <h2>Summary</h2>

          <div class="card-body" >
              <div>
                <div *ngIf="isLoading()" class="d-flex justify-content-center">
                  <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <canvas id="canvas">{{ chart }}</canvas>
              </div>
          </div>
      </div>
      
      <div class="card" style="margin-bottom: 10px;">
          <h2>Backlog / To-Do</h2>
          <div class="card-body" >
            <dl class="row">
              <dt class="col-sm-6 text-truncate">Open Issues</dt>
              <dd class="col-sm-6"><span class="badge badge-primary">{{openIssueCount}}</span></dd>
              <dt class="col-sm-6 text-truncate">Open pull-requests</dt>
              <dd class="col-sm-6"><span class="badge badge-danger">{{openPullRequestCount}}</span></dd>
            </dl>
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" [style.width]="openIssueProgress+ '%'" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar bg-danger" role="progressbar" [style.width]="openPullRequestProgress+ '%'" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <dl class="row" style="margin-top: 20px;">
              <dt class="col-sm-6 text-truncate">To-Do Task Count</dt>
              <dd class="col-sm-6">{{totalOpenTaskCount}}</dd>
              <dt class="col-sm-6 text-truncate">To-Do Task Percentage</dt>
              <dd class="col-sm-6">{{NaNValidate(openTaskProgress) + '%'}}</dd>
            </dl>
        
            <button type="button" [routerLink]="['/project-backlog', pid]" class="btn btn-primary btn-lg btn-block">View Project Backlog</button>
            <br>
          </div>
        </div>
        
        
        
        <div class="card" style="margin-bottom: 10px;">
          <h2>Completed</h2>
          <div class="card-body" >
            <dl class="row">
              <dt class="col-sm-6 text-truncate">Closed Issues</dt>
              <dd class="col-sm-6"><span class="badge badge-primary">{{closedIssueCount}}</span></dd>
              <dt class="col-sm-6 text-truncate">Closed pull-requests</dt>
              <dd class="col-sm-6"><span class="badge badge-danger">{{closedPullRequestCount}}</span></dd>
            </dl>
            <div class="progress">
                <!--<div class="" role="progressbar" [style.width]="openIssueProgress+ '%'" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="" role="progressbar" [style.width]="openPullRequestProgress+ '%'" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>-->
              <div  class="progress-bar bg-default" role="progressbar" [style.width]="closedIssueProgress+ '%'" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
              <div  class="progress-bar bg-default" role="progressbar" [style.width]="closedPullRequestProgress+ '%'" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <dl class="row" style="margin-top: 20px;">
              <dt class="col-sm-6 text-truncate">Closed Task Count</dt>
              <dd class="col-sm-6">{{totalClosedTaskCount}}</dd>
              <dt class="col-sm-6 text-truncate">Closed Task Percentage</dt>
              <dd class="col-sm-6">{{NaNValidate(projectProgress) + '%'}}</dd>
            </dl>
        
            <button type="button" [routerLink]="['/project-completed', pid]" class="btn btn-danger btn-lg btn-block">View Completed Tasks</button>
            <br>
          </div>
        </div>

        


        
  </div>

</div>





