<h2 class="headerLine">Project Profile</h2>


<div class="card" style="margin-bottom: 10px;">
  <h2>Project Summary</h2>
  <div class="card-body" >
    <dl class="row">
      <dt class="col-sm-3 text-truncate">Project Name</dt>
      <dd class="col-sm-9">{{title}}</dd>
    
      <dt class="col-sm-3">Description</dt>
      <dd class="col-sm-9">
        <p>{{description}}</p>
      </dd>
    
      <dt class="col-sm-3">Github URL</dt>
      <dd class="col-sm-9">{{githubURL}}</dd>

      <hr>

      <dt class="col-sm-3 text-truncate">Open Issues</dt>
      <dd class="col-sm-9">{{openIssueCount}}</dd>
      <dt class="col-sm-3 text-truncate">Closed Issues</dt>
      <dd class="col-sm-9">{{closedIssueCount}}</dd>
      <dt class="col-sm-3 text-truncate">Total Issues</dt>
      <dd class="col-sm-9">{{totalIssueCount}}</dd>

      <hr>

      <dt class="col-sm-3 text-truncate">Open pull-requests</dt>
      <dd class="col-sm-9">{{openPullRequestCount}}</dd>
      <dt class="col-sm-3 text-truncate">Closed pull-requests</dt>
      <dd class="col-sm-9">{{closedPullRequestCount}}</dd>
      <dt class="col-sm-3 text-truncate">Total pull-requests</dt>
      <dd class="col-sm-9">{{totalPullRequestCount}}</dd>
      
      <dt class="col-sm-3 text-truncate">Total Tasks</dt>
      <dd class="col-sm-9">{{totalTaskCount}}</dd>
      
    </dl>

    <h2>Project Progress {{projectProgress + '%'}}</h2>

    <div class="progress">
      <div class="progress-bar" role="progressbar" [style.width]="closedIssueProgress+ '%'" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
      <div class="progress-bar bg-danger" role="progressbar" [style.width]="closedPullRequestProgress+ '%'" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <br>
    <br>
    <button type="button" [routerLink]="['/project-backlog', id]" class="btn btn-primary btn-lg btn-block">View Project Backlog</button>
    <br>
    <button type="button" [routerLink]="['/project-completed', id]" class="btn btn-dark btn-lg btn-block">View Completed Tasks</button>

  </div>
</div>