<h2 class="headerLine">Completed Tasks</h2>

<div class="card" *ngFor="let issue of githubClosedIssues" style="margin-bottom: 10px;">
  <div class="card-body" >
    <h5 class="card-title" >
      {{issue.number + ') ' +issue.title}}
      <span class="badge badge-danger" >Status: Closed</span>
    </h5>
    <a class="badge badge-pill badge-secondary" *ngFor="let label of issue.labels" style="margin-right:5px; color:white">{{label.name}}</a>
    <a class="badge badge-warning" *ngFor="let assignee of issue.assignees" style="margin-right:5px; ">Assignees: {{assignee.login | json}}</a>
    <read-more [text]="issue.body" [maxLength]="200"></read-more>
    <hr>
  </div>
</div>

<div *ngIf="!isClosedIssueItemsEmpty()" class="alert alert-primary text-center" role="alert">
  Loading items please wait...
  <br>
  <br>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div id='slowConnection'>This process is taking longer than usual... Please make sure you have closed issues in your Github repository.</div>
</div>