
<h2 class="headerLine">FAQ Section</h2>
<div class="container">
  <div class="row">
      <div class="col-lg-4">
          <div class="nav nav-pills faq-nav" id="faq-tabs" role="tablist" aria-orientation="vertical">
              <a href="#tab1" class="nav-link active" data-toggle="pill" role="tab" aria-controls="tab1" aria-selected="true">
                  <i class="mdi mdi-help-circle"></i> Frequently Asked Questions
              </a>
              <a href="#tab2" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab2" aria-selected="false">
                  <i class="mdi mdi-account"></i> Profile
              </a>
              <a href="#tab3" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab3" aria-selected="false">
                  <i class="mdi mdi-account-settings"></i> Sprints
              </a>
              <a href="#tab4" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab4" aria-selected="false">
                  <i class="mdi mdi-heart"></i> Projects
              </a>
              <a href="#tab5" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab5" aria-selected="false">
                  <i class="mdi mdi-coin"></i> General help
              </a>
              <!--<a href="#tab6" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab6" aria-selected="false">
                  <i class="mdi mdi-help"></i> General help
              </a>-->
          </div>
      </div>
      <div class="col-lg-8">
          <div class="tab-content" id="faq-tab-content">
              <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                  <div class="accordion" id="accordion-tab-1">
                      <div class="card">
                          <div class="card-header" id="accordion-tab-1-heading-1">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-1" aria-expanded="false" aria-controls="accordion-tab-1-content-1">How can I add tasks to a sprint?</button>
                              </h5>
                          </div>
                          <div class="collapse show" id="accordion-tab-1-content-1" aria-labelledby="accordion-tab-1-heading-1" data-parent="#accordion-tab-1">
                              <div class="card-body">
                                  <ol>
                                    <li>First, make sure that you have created the sprint which you need the task to be assigned to.</li>
                                    <li>Then, go in to the project backlog.</li>
                                    <li>Under the task which you need to assign click on “Add to Sprint” button.</li>
                                    <li>Under the drop-down menu click on the sprint which you need the task to be assigned to.</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-1-heading-2">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-2" aria-expanded="false" aria-controls="accordion-tab-1-content-2">How do I create a new project?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-1-content-2" aria-labelledby="accordion-tab-1-heading-2" data-parent="#accordion-tab-1">
                              <div class="card-body">
                                  <ol>
                                    <li>First, click on “Projects“ tab from the navigation bar and visit your Active Projects section.</li>
                                    <li>In the Active Projects Section, click on “CREATE” button under the New Project? thumbnail box.</li>
                                    <li>Fill in the details as required.</li>
                                    <li>Click on the submit button.</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-1-heading-3">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-3" aria-expanded="false" aria-controls="accordion-tab-1-content-3">I am receiving a “Duplicate Github URL found.” Message when creating the project.</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-1-content-3" aria-labelledby="accordion-tab-1-heading-3" data-parent="#accordion-tab-1">
                              <div class="card-body">
                                  <p>Make sure that, there aren’t any other projects created for the same Github Project. </p>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-1-heading-4">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-4" aria-expanded="false" aria-controls="accordion-tab-1-content-4">How do I remove task assigned to a sprint?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-1-content-4" aria-labelledby="accordion-tab-1-heading-4" data-parent="#accordion-tab-1">
                              <div class="card-body">
                                  <ol>
                                    <li>First view the sprint.</li>
                                    <li>Under the task which you need to be removed click on Remove button.</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2">
                  <div class="accordion" id="accordion-tab-2">
                      <div class="card">
                          <div class="card-header" id="accordion-tab-2-heading-1">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-1" aria-expanded="false" aria-controls="accordion-tab-2-content-1">How do I create an account on ProjectFlow?</button>
                              </h5>
                          </div>
                          <div class="collapse show" id="accordion-tab-2-content-1" aria-labelledby="accordion-tab-2-heading-1" data-parent="#accordion-tab-2">
                              <div class="card-body">
                                  <ol>
                                    <li>Select Sign Up tab on top of the Sign in page.</li>
                                    <li>Enter details as required.</li>
                                    <li>Click on Sign Up button after filling the form.</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-2-heading-2">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-2" aria-expanded="false" aria-controls="accordion-tab-2-content-2">How do I login to my account on ProjectFlow?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-2-content-2" aria-labelledby="accordion-tab-2-heading-2" data-parent="#accordion-tab-2">
                              <div class="card-body">
                                  <ol>
                                    <li>Select Sign in from the Navigation bar.</li>
                                    <li>Enter a valid Email and password.</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-2-heading-3">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-3" aria-expanded="false" aria-controls="accordion-tab-2-content-3">How do I connect with my Github account?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-2-content-3" aria-labelledby="accordion-tab-2-heading-3" data-parent="#accordion-tab-2">
                              <div class="card-body">
                                  <ol>
                                    <li>Click on Profile from navigation bar.</li>
                                    <li>Click on "Connect to GitHub" button.</li>
                                    <li>Login using Github details if not already logged in.</li>
                                    <li>You will receive a success message when successfully linked to Github.</li>
                                    <li>Logout from ProjectFlow and relogging to ProjectFlow.</li>
                                    <li>Use the benefits from connecting with Github.</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane" id="tab3" role="tabpanel" aria-labelledby="tab3">
                  <div class="accordion" id="accordion-tab-3">
                      <div class="card">
                          <div class="card-header" id="accordion-tab-3-heading-1">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-1" aria-expanded="false" aria-controls="accordion-tab-3-content-1">How can I create a sprint to my project?</button>
                              </h5>
                          </div>
                          <div class="collapse show" id="accordion-tab-3-content-1" aria-labelledby="accordion-tab-3-heading-1" data-parent="#accordion-tab-3">
                              <div class="card-body">
                                  <ol>
                                    <li>Visit the required project profile.</li>
                                    <li>Click on the “Create Sprint” button under the Sprint/ In-Progress section.</li>
                                    <li>Fill in the details as required.</li>
                                    <li>Click on the submit button.</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-3-heading-2">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-2" aria-expanded="false" aria-controls="accordion-tab-3-content-2">How can I view a sprint?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-3-content-2" aria-labelledby="accordion-tab-3-heading-2" data-parent="#accordion-tab-3">
                              <div class="card-body">
                                  <ol>
                                    <li>Visit the required project profile.</li>
                                    <li>Click on the “View SPRINT NAME” button under the Sprint you need to view.</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-3-heading-3">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-3" aria-expanded="false" aria-controls="accordion-tab-3-content-3">How can I edit a sprint?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-3-content-3" aria-labelledby="accordion-tab-3-heading-3" data-parent="#accordion-tab-3">
                              <div class="card-body">
                                  <ol>
                                    <li>Visit the required project profile.</li>
                                    <li>Click on the cog icon next to the sprint that you need to edit.</li>
                                    <li>Fill in the details as required.</li>
                                    <li>>Click on the submit button.</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-3-heading-4">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-4" aria-expanded="false" aria-controls="accordion-tab-3-content-4">How can I remove a sprint?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-3-content-4" aria-labelledby="accordion-tab-3-heading-4" data-parent="#accordion-tab-3">
                              <div class="card-body">
                                  <ol>
                                    <li>Visit the required project profile.</li>
                                    <li>Click on the trash icon next to the sprint that you need to delete.</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-3-heading-5">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-5" aria-expanded="false" aria-controls="accordion-tab-3-content-5">How can I add tasks to a sprint?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-3-content-5" aria-labelledby="accordion-tab-3-heading-5" data-parent="#accordion-tab-3">
                              <div class="card-body">
                                  <ol>
                                    <li>First, make sure that you have created the sprint which you need the task to be assigned to.</li>
                                    <li>Then, go in to the project backlog.</li>
                                    <li>Under the task which you need to assign click on “Add to Sprint” button.</li>
                                    <li>Under the drop down menu click on the sprint which you need the task to be assigned to.</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-3-heading-6">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-6" aria-expanded="false" aria-controls="accordion-tab-3-content-6">How do I remove task assigned to a sprint?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-3-content-6" aria-labelledby="accordion-tab-3-heading-6" data-parent="#accordion-tab-3">
                              <div class="card-body">
                                  <ol>
                                    <li>First view the sprint.</li>
                                    <li>Under the task which you need to be removed click on Remove button.</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane" id="tab4" role="tabpanel" aria-labelledby="tab4">
                  <div class="accordion" id="accordion-tab-4">
                      <div class="card">
                          <div class="card-header" id="accordion-tab-4-heading-1">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-1" aria-expanded="false" aria-controls="accordion-tab-4-content-1">How do I create a new project?</button>
                              </h5>
                          </div>
                          <div class="collapse show" id="accordion-tab-4-content-1" aria-labelledby="accordion-tab-4-heading-1" data-parent="#accordion-tab-4">
                              <div class="card-body">
                                  <ol>
                                    <li>First, click on “Projects“ tab from the navigation bar and visit your Active Projects section.</li>
                                    <li>In the Active Projects Section, click on “CREATE” button under the "Create New Project" thumbnail box.</li>
                                    <li>Fill in the details as required.</li>
                                    <li>Click on the submit button.</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-4-heading-2">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-2" aria-expanded="false" aria-controls="accordion-tab-4-content-2">How do I view a project I have already created?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-4-content-2" aria-labelledby="accordion-tab-4-heading-2" data-parent="#accordion-tab-4">
                              <div class="card-body">
                                  <ol>
                                    <li>First, click on “Projects“ tab from the navigation bar and visit your Active Projects section.</li>
                                    <li>In the Active Projects Section, click on the VIEW button under the required project you want to open.</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-4-heading-3">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-3" aria-expanded="false" aria-controls="accordion-tab-4-content-3">How do I edit a project I have already created?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-4-content-3" aria-labelledby="accordion-tab-4-heading-3" data-parent="#accordion-tab-4">
                              <div class="card-body">
                                  <ol>
                                    <li>First, click on “Projects“ tab from the navigation bar and visit your Active Projects section.</li>
                                    <li>In the Active Projects Section, click on the cog button under on the project thumbnail box you need to edit.</li>
                                    <li>Fill in the details as required.</li>
                                    <li>Click on the submit button.</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-4-heading-4">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-4" aria-expanded="false" aria-controls="accordion-tab-4-content-4">How do I delete a project I have already created?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-4-content-4" aria-labelledby="accordion-tab-4-heading-4" data-parent="#accordion-tab-4">
                              <div class="card-body">
                                  <ol>
                                    <li>First, click on “Projects“ tab from the navigation bar and visit your Active Projects section.
                                    </li>
                                    <li>
                                        In the Active Projects Section, click on the REMOVE button under the required project you want to delete.
                                    </li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-4-heading-5">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-5" aria-expanded="false" aria-controls="accordion-tab-4-content-5">“Duplicate Github URL found.” error when creating project.</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-4-content-5" aria-labelledby="accordion-tab-4-heading-5" data-parent="#accordion-tab-4">
                              <div class="card-body">
                                  <p>Make sure that, there aren’t any other projects created for the same Github Project. </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane" id="tab5" role="tabpanel" aria-labelledby="tab5">
                  <div class="accordion" id="accordion-tab-5">
                      <div class="card">
                          <div class="card-header" id="accordion-tab-5-heading-1">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-1" aria-expanded="false" aria-controls="accordion-tab-5-content-1">Find your account email</button>
                              </h5>
                          </div>
                          <div class="collapse show" id="accordion-tab-5-content-1" aria-labelledby="accordion-tab-5-heading-1" data-parent="#accordion-tab-5">
                              <div class="card-body">
                                  <ol>
                                    <li>Select Profile from navigation bar</li>
                                    <li>Your email address and other information will be displayed.</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-5-heading-2">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-2" aria-expanded="false" aria-controls="accordion-tab-5-content-2">Validate whether you have linked with Github</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-5-content-2" aria-labelledby="accordion-tab-5-heading-2" data-parent="#accordion-tab-5">
                              <div class="card-body">
                                  <ol>
                                    <li>Select Profile from navigation bar</li>
                                    <li>If you have logged in using Github then your Github information will be displayed</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-5-heading-3">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-3" aria-expanded="false" aria-controls="accordion-tab-5-content-3">What benefits do I get by connecting to Github?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-5-content-3" aria-labelledby="accordion-tab-5-heading-3" data-parent="#accordion-tab-5">
                              <div class="card-body">
                                  <ul>
                                    <li>Can insert private projects to ProjectFlow.</li>
                                    <li>Can use additional features like creating issues.</li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-5-heading-4">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-4" aria-expanded="false" aria-controls="accordion-tab-5-content-4">Sometimes data not recieving from Github</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-5-content-4" aria-labelledby="accordion-tab-5-heading-4" data-parent="#accordion-tab-5">
                              <div class="card-body">
                                  <ul>
                                      <li>Make sure that you are on a stable internet connection.</li>
                                      <li>If not connected with Github. Try connecting with your Github account.</li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane" id="tab6" role="tabpanel" aria-labelledby="tab6">
                  <div class="accordion" id="accordion-tab-6">
                      <div class="card">
                          <div class="card-header" id="accordion-tab-6-heading-1">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-1" aria-expanded="false" aria-controls="accordion-tab-6-content-1">Doomsday device?</button>
                              </h5>
                          </div>
                          <div class="collapse show" id="accordion-tab-6-content-1" aria-labelledby="accordion-tab-6-heading-1" data-parent="#accordion-tab-6">
                              <div class="card-body">
                                  <p>Ah, now the ball's in Farnsworth's court! We'll need to have a look inside you with this camera. Stop it, stop it. It's fine. I will 'destroy' you! Bender! Ship! Stop bickering or I'm going to come back there and change your opinions manually!</p>
                                  <p><strong>Example: </strong>So I really am important? How I feel when I'm drunk is correct?</p>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-6-heading-2">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-2" aria-expanded="false" aria-controls="accordion-tab-6-content-2">And so we say goodbye to our beloved pet, Nibbler?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-6-content-2" aria-labelledby="accordion-tab-6-heading-2" data-parent="#accordion-tab-6">
                              <div class="card-body">
                                  <p>Nibbler, who's gone to a place where I, too, hope one day to go. The toilet. But existing is basically all I do! I suppose I could part with 'one' and still be feared. I just told you! You've killed me!</p>
                                  <p><strong>Example: </strong>What's with you kids? Every other day it's food, food, food.</p>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-6-heading-3">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-3" aria-expanded="false" aria-controls="accordion-tab-6-content-3">Tell her you just want to talk?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-6-content-3" aria-labelledby="accordion-tab-6-heading-3" data-parent="#accordion-tab-6">
                              <div class="card-body">
                                  <p>It has nothing to do with mating. Soon enough. There, now he's trapped in a book I wrote: a crummy world of plot holes and spelling errors! Daylight and everything. Hey! I'm a porno-dealing monster, what do I care what you think?</p>
                                  <p><strong>Example: </strong>Is that a cooking show? It doesn't look so shiny to me. And why did 'I' have to take a cab?</p>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="accordion-tab-6-heading-4">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-4" aria-expanded="false" aria-controls="accordion-tab-6-content-4">Good man. Nixon's pro-war and pro-family?</button>
                              </h5>
                          </div>
                          <div class="collapse" id="accordion-tab-6-content-4" aria-labelledby="accordion-tab-6-heading-4" data-parent="#accordion-tab-6">
                              <div class="card-body">
                                  <p>I don't 'need' to drink. I can quit anytime I want! THE BIG BRAIN AM WINNING AGAIN! I AM THE GREETEST! NOW I AM LEAVING EARTH, FOR NO RAISEN! There's one way and only one way to determine if an animal is intelligent. Dissect its brain!</p>
                                  <p><strong>Example: </strong>Guess again. Yeah, I do that with my stupidness. And when we woke up, we had these bodies.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>